In [1]:
import sqlite3
import json

# Connect to SQLite database (creates a new database if not exist)
conn = sqlite3.connect('etl_database.db')
cursor = conn.cursor()

# Create tables
cursor.execute('''
    CREATE TABLE IF NOT EXISTS SourceTable (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        city TEXT,
        phoneNumber TEXT,
        color TEXT
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS DestinationTable (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        city TEXT,
        phoneNumber TEXT,
        color TEXT
    )
''')

# Commit changes and close connection
conn.commit()
conn.close()

In [2]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('etl_database.db')
cursor = conn.cursor()

# Select data from DestinationTable
cursor.execute('SELECT * FROM DestinationTable')
rows = cursor.fetchall()

# Print the data
print("Data in DestinationTable:")
for row in rows:
    print(row)

# Close connection
conn.close()

Data in DestinationTable:

In [3]:
import csv

# Extract data from CSV
with open('source_data.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)  # Skip header row
    data_to_insert = [row for row in csv_reader]

In [4]:
data_to_insert

[['1', 'Person 1', '42', 'New York'],
 ['2', 'Person 2', '25', 'London'],
 ['3', 'Person 3', '32', 'London'],
 ['4', 'Person 4', '60', 'London'],
 ['5', 'Person 5', '41', 'Paris'],
 ['6', 'Person 6', '26', 'Tokyo'],
 ['7', 'Person 7', '51', 'Tokyo'],
 ['8', 'Person 8', '58', 'London'],
 ['9', 'Person 9', '39', 'New York'],
 ['10', 'Person 10', '58', 'Paris']]

In [5]:
# Extract data from JSON
with open('data.json', 'r') as json_file:
    json_data = json.load(json_file)

In [6]:
json_data

[{'id': 1, 'phoneNumber': '123-456-7890', 'color': 'Red'},
 {'id': 2, 'phoneNumber': '234-567-8901', 'color': 'Blue'},
 {'id': 3, 'phoneNumber': '345-678-9012', 'color': 'Green'},
 {'id': 4, 'phoneNumber': '456-789-0123', 'color': 'Yellow'},
 {'id': 5, 'phoneNumber': '567-890-1234', 'color': 'Orange'},
 {'id': 6, 'phoneNumber': '678-901-2345', 'color': 'Purple'},
 {'id': 7, 'phoneNumber': '789-012-3456', 'color': 'Pink'},
 {'id': 8, 'phoneNumber': '890-123-4567', 'color': 'Brown'},
 {'id': 9, 'phoneNumber': '901-234-5678', 'color': 'Black'},
 {'id': 10, 'phoneNumber': '012-345-6789', 'color': 'White'}]

In [7]:
# Combine CSV and JSON data
combined_data = [(row[0], row[1], int(row[2]), row[3], json_data[index]['phoneNumber'], json_data[index]['color']) for index, row in enumerate(data_to_insert)]

In [8]:
# Connect to SQLite database
conn = sqlite3.connect('etl_database.db')
cursor = conn.cursor()

# Transform and load combined data into DestinationTable
cursor.executemany('''
    INSERT INTO DestinationTable (id, name, age, city, phoneNumber, color)
    VALUES (?, ?, ?, ?, ?, ?)
''', combined_data)

# Commit changes and close connection
conn.commit()
conn.close()

In [9]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('etl_database.db')
cursor = conn.cursor()

# Select data from DestinationTable
cursor.execute('SELECT * FROM DestinationTable')
rows = cursor.fetchall()

# Print the data
print("Data in DestinationTable:")
for row in rows:
    print(row)

# Close connection
conn.close()

Data in DestinationTable:
(1, 'Person 1', 42, 'New York', '123-456-7890', 'Red')
(2, 'Person 2', 25, 'London', '234-567-8901', 'Blue')
(3, 'Person 3', 32, 'London', '345-678-9012', 'Green')
(4, 'Person 4', 60, 'London', '456-789-0123', 'Yellow')
(5, 'Person 5', 41, 'Paris', '567-890-1234', 'Orange')
(6, 'Person 6', 26, 'Tokyo', '678-901-2345', 'Purple')
(7, 'Person 7', 51, 'Tokyo', '789-012-3456', 'Pink')
(8, 'Person 8', 58, 'London', '890-123-4567', 'Brown')
(9, 'Person 9', 39, 'New York', '901-234-5678', 'Black')
(10, 'Person 10', 58, 'Paris', '012-345-6789', 'White')